[Desktop Entry]
Type=Application
Name=Beeper
Comment=A Matrix-based instant messaging client
Icon=com.beeper.Beeper
Exec=/app/bin/beeper %U
Categories=Network;InstantMessaging;Chat;VideoConference;
MimeType=x-scheme-handler/element;
StartupWMClass=element
Keywords=Matrix;matrix.org;chat;irc;communications;talk;beeper;vector;
